.custom-navbar {
    background-color: #8B4513;
    border: 1px solid #8B4513;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  .custom-navbar-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .custom-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
  
    .custom-logo-image {
      height: 64px;
      margin-right: 0.5rem;
    }
  
    .custom-logo-text {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  
  .custom-menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
  }
  
  .custom-menu {
    display: flex;
  
    .custom-menu-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
  
      .custom-menu-link {
        text-decoration: none;
        color: #FFFFFF;
        margin-right: 1rem;
        position: relative; /* Position relative for pseudo-element */
  
        &:hover {
          color: #D2B48C;
        }
  
        &.active {
          border-bottom: 2px solid #FFFFFF; /* Underline effect */
          transition: border-bottom 0.3s ease; /* Transition effect */
  
          &:before {
            content: '';
            position: absolute;
            bottom: -2px; /* Adjust this value to control the thickness of the underline */
            left: 0;
            width: 0; /* Start with zero width */
            height: 2px; /* Adjust this value to control the thickness of the underline */
            background-color: #FFFFFF;
            opacity: 0; /* Start with zero opacity */
            transition: width 0.3s ease, opacity 0.3s ease; /* Transition effect for width and opacity */
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .custom-navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .custom-menu-toggle {
      display: block;
    }
  
    .custom-menu {
      display: none;
    }
  
    .custom-menu.active {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #8B4513;
      padding: 1rem;
      margin-top: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  
      .custom-menu-list {
        .custom-menu-link {
          margin-right: 0;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  